[submodule "frontend"]
	path = frontend
	url = https://github.com/EveNordinstorm/equipped-after-dark.git
[submodule "backend"]
	path = backend
	url = https://github.com/EveNordinstorm/EquippedAfterDarkAPI.git
